* {
  background: #f3f5fc;
  font-family: "Inter";
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}
main {
  display: flex;
  margin-bottom: 10px;
  margin-left: 180px;
  justify-content: space-around;
}

header {
  width: 50%;
}

.logo {
  padding-top: 25px;
  margin-left: 25px;
  width: 7%;
}

.informacion {
  font-style: normal;
  font-size: 16px;
  color: #495057;
  opacity: 0.8;
}

.informacion img {
  margin-right: 10px;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
}

.encriptar {
  background-color: #0a3871;
  border-color: #0a3871;
  border-style: solid;
  border-radius: 24px;
  padding: 24px;
  color: white;
  width: 308px;
  height: 67px;
  font-size: 20px;
  font-style: normal;
  line-height: 19px;
  text-align: center;
  margin-right: 20px;
  margin-top: 30px;
}

.encriptar:hover {
  cursor: pointer;
  background-color: #d8dfe8;
  color: black;
  transition: 0.4s all;
  transform: scale(1.02);
  border-color: blue;
}

.desencriptar {
  background-color: #d8dfe8;
  border-radius: 24px;
  padding: 24px;
  color: black;
  width: 308px;
  height: 67px;
  font-style: normal;
  line-height: 19px;
  text-align: center;
  border-color: blue;
  font-size: 20px;
}

.desencriptar:hover {
  cursor: pointer;
  background-color: #0a3871;
  color: white;
  transition: 0.4s all;
  transform: scale(1.02);
  border-color: da;
  border-style: hidden;
}

.inputt {
  background: none;
  border: none;
  width: 577px;
  height: 430px;
  left: 240px;
  top: 128px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  color: #0a3871;
  text-transform: lowercase;
  resize: none;
}

.inputt::placeholder {
  color: #0a3871;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  text-transform: initial;
}

.inputt:focus {
  outline-style: none;
}

.rectangulo {
  position: relative;
  height: 630px;
  background: white;
  background-image: url("/images/Muñeco.png");
  background-repeat: no-repeat;
  background-position: 10px 50px;
  border: none;
  border-radius: 24px;
  color: #0a3871;
  margin-left: 98px;
  margin-top: 20px;
  padding-left: 20px;
  resize: none;
}

.rectangulo:focus {
  outline-style: none;
}

.text-p {
  position: absolute;
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  color: #343a40;
  line-height: 28.8px;
  margin-bottom: 20px;
  background: white;
  width: 336px;
  top: 480px;
  right: 73px;
}

.text-s {
  position: absolute;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  color: #495057;
  line-height: 24px;
  background: white;
  width: 336px;
  top: 550px;
  right: 73px;
}

.copiar {
  position: absolute;
  background-color: #0a3871;
  border-radius: 20px;
  padding: 14px;
  color: white;
  width: 228px;
  height: 47px;
  font-size: 20px;
  line-height: 19px;
  border-style: solid;
  visibility: visible;
  border-color: #0a3871;
  z-index: 2;
  top: 625px;
  right: 125px;
}

.copiar:hover {
  cursor: pointer;
  transition: 0.5s all;
  transform: scale(1.05);
  background-color: #d8dfe8;
  color: black;
  border-color: blue;
}
