* {
  background: #f3f5fc;
  font-family: "Inter";
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.logo {
  padding-top: 30px;
  margin-left: 30px;
  width: 5%;
}

main {
  display: flex;
  margin-bottom: 10px;
  margin-left: 180px;
}

.informacion {
  width: 305px;
  height: 18px;
  font-style: normal;
  font-size: 16px;
  color: #495057;
  opacity: 0.8;
  margin-left: 10px;
}

.info {
  margin-right: 10px;
}

.encriptar {
  background-color: #0a3871;
  border-style: hidden;
  border-radius: 24px;
  padding: 24px;
  color: white;
  width: 328px;
  height: 67px;
  font-size: 20px;
  font-style: normal;
  line-height: 19px;
  text-align: center;
  margin-right: 20px;
  margin-top: 30px;
}

.encriptar:hover {
  cursor: pointer;
  background-color: #b9bcbf;
  color: #0a3871;
  transition: 0.4s all;
  transform: scale(1.02);
  border-color: blue;
}

.butts {
  margin: 0 auto;
  height: 130px;
  left: 500px;
  display: flex;
  align-items: baseline;
  position: relative;
  top: -100px;
  left: 150px;
  z-index: 1;
}

.desencriptar {
  background-color: #d8dfe8;
  border-radius: 24px;
  padding: 24px;
  color: #0a3871;
  width: 328px;
  height: 67px;
  font-style: normal;
  line-height: 19px;
  text-align: center;
  border-color: blue;
  font-size: 20px;
  border-style: hidden;
}

.desencriptar:hover {
  cursor: pointer;
  background-color: #0a3871;
  color: white;
  transition: 0.4s all;
  transform: scale(1.02);
  border-color: da;
  border-style: hidden;
}

.inputt {
  background: none;
  border: none;
  position: absolute;
  width: 577px;
  height: 430px;
  left: 240px;
  top: 128px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  color: #0a3871;
  text-transform: lowercase;
  resize: none;
  display: flex;
}

.inputt::placeholder {
  color: #0a3871;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.inputt:focus {
  outline-style: none;
}

.showtext {
  display: flex;
}

.rectangulo {
  position: absolute;
  width: 400px;
  height: 600px;
  left: 1000px;
  top: 40px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  resize: none;
  padding: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: darkblue;
  display: flex;
  text-align: justify;
  text-transform: lowercase;
  border: none;
}

.rectangulo:focus {
  outline-style: none;
}

.fondo {
  position: relative;
  width: 336px;
  height: 304px;
  left: 1032px;
  top: 20px;
  margin: 0 32px 0 32px;
}

.text-p {
  position: relative;
  width: 336px;
  height: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #343a40;
  display: flex;
  margin: 50px 32px 0 32px;
  left: 1032px;
}

.text-s {
  position: relative;
  width: 336px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
  margin: 30px 32px 0 32px;
  left: 1032px;
}

.copiar {
  position: relative;
  margin: 20px 0 0 86px;
  background-color: #0a3871;
  border-radius: 20px;
  padding: 14px;
  color: white;
  width: 228px;
  height: 47px;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  left: 1032px;
  border-style: hidden;
  visibility: hidden;
  z-index: 2;
}

.copiar:hover {
  cursor: pointer;
  transition: 0.5s all;
  transform: scale(1.05);
  background-color: #d8dfe8;
  color: black;
}
